@model IEnumerable<Project.Models.Loai>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-4CfUPPxAiAjU/gxp6UPLp6mYJ6U0Onm1x5PRXJD5D5q5B5/5bupcOyP8KthtdNzDbOxyNawZUm/lDkMVxhZVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="nav_section">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand custom_nav-container ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav ">
                            <li class="nav-item category">
                                <a class="nav-link" href="/Home/Index">Home</a>
                            </li>
                            <li class="nav-item category">
                                <a class="nav-link" href="/Home/Store">Store</a>
                            </li>
                            @foreach (var item in Model)
                            {
                                <li class="nav-item category">
                                    <a class="nav-link" href="/danhmuc/index/@item.maloai">@item.tenloai </a>
                                </li>
                            }
                            <li class="nav-item">
                             
                                <a class="nav-link shopping-cart" href="/GioHang/GioHang">
                                    <i class="fa fa-shopping-bag shoppingbag"></i>
                                    @if (ViewBag.CountCart != 0 && ViewBag.TotalPrice != 0 && Session["TaiKhoan"] != null)
                                    {
                                        <span class="total-price">@String.Format("{0:0,0}", ViewBag.TotalPrice)&#8363</span>

                                        <span class="number">@ViewBag.CountCart </span>
                                    }
                                </a>

                            </li>
                            <li class="nav-item">
                                <i class="fa fa-search"></i>
                            </li>
                            <li class="Login-partial">
                                @Html.Partial("LoginPartial")
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<style>
    .category{
        position:relative;
        left:100px;
    }
    .shopping-cart{
        left:150px;
    }
    .fa-search {
        font-size: 16px;
        color: white;
        left: 170px;
        top: 13px;
        position: relative;
    }
    .Login-partial {
        margin: 10px 0 0 12px;
        font-weight: bold;
    }
    .total-price {
        color: #f80909;
        font-size: 14px;
        margin-left: 10px;
    }

    .number {
        background-color: #f80909;
        border-radius: 50%;
        color: #fff;
        display: block;
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 8px;
        left: 22px;
        text-align: center;
    }

    .nav-item {
        font-weight: bold;
        font-size:15px;
    }
    .fa-shopping-bag {
        font-size: 22px;
        color: white;
    }
 
  
</style>
