

<h3>Không có sản phẩm nào trong giỏ hàng, vui lòng quay lại </h3>
<a href="@Url.Action("Index", "Home")" class="back-to-home-button">Quay về trang chủ</a>

<style>
    h3 {
        text-align: center;
    }

    .back-to-home-button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        color: #fff;
        background-color: #ff0000;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        width: 200px;
    }
</style>


